@model CrudApplication2._0.Models.Student
    <h1>Student Data :---</h1>
         <table >
            <tr>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Email Id</th>
                <th>Mobile No</th>
            </tr>
            <tr>
                <td>@Model.m_firstname</td>
                <td>@Model.m_lastname</td>
                <td>@Model.m_email</td>
                <td>@Model.m_mobile</td>
            </tr>

        </table>
  
