
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>about</title>
</head>
<body>
    <div> 
        <h1>I am about view;</h1>
    </div>
    <div>
        @Html.TextBox("txtBox1", "Uday Kolhe");
    </div>
    <div>
        @Html.Password("myPass");
    </div>
</body>
</html>
