@model CrudApplication2.Models.Student
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>submitData</title>
</head>
<body>
    <h1>Student Data :---</h1>
    <div> 
        <table>
            <tr>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Email Id</th>
                <th>Mobile No</th>
            </tr>
            <tr>
                <td>
                    
                </td>
            </tr>

        </table>
    </div>
</body>
</html>
